.p-toast.p-toast-topright {
    z-index: 1000;
    top: 70px;
}

.logo{
    width: 100px;
    margin: -25px 25px 15px 0px;
}

.layout-wrapper{
    background: #fff;
}

.layout-topbar{
    background: #303030;
}

.overflow-hidden{
    overflow: hidden;
}
.display-flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}
.vertical-align-middle{
    vertical-align:middle;
}

.no-padding{
    padding: 0;
}

.p-0{
  padding: 0;
}

.px-7{
  padding-left: 7px;
  padding-right: 7px;
}
.my-15{
  margin-top: 15px;
  margin-bottom: 15px;
  }

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mt--10{
    margin-top: -10px;
}
.mt--13{
    margin-top: -13px;
}

.pt-25{
    padding-top:25px !important;
}

.pt-35{
    padding-top:35px !important;
}
 
.mt-30{
    margin-top: 30px;
}
.mt-5{
    margin-top:5px;
}

.mt-10{
    margin-top:10px;
}

.mb-15{
    margin-bottom:15px;
}
.w-100{
    width: 100%;
}
.font-size-16{
    font-size: 16px;
}

.p-badge{
    font-size: 12px;
    font-weight: 400;
    margin: 0 4px;
  }

.p-tabmenu .p-tabmenu-nav, .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: rgb(48,48,48) !important;
    border-color: rgb(48,48,48);
  }
  
  
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    color: #ffffff;
    opacity: 0.6;
  }
  
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: #ffffff;
    border-color: #ffffff;
    opacity: 1;
    height: 49px;
  }
  
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link{
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.8;
  }
  
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  .p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button{
    background: rgb(240,240,240);
    border-color:rgb(232,232,232);
  }

  .p-calendar .p-button{
    background: rgb(240,240,240);
    border-color:rgb(232,232,232);
  }

  .p-button.p-button-warning:hover, .p-buttonset.p-button-warning > .p-button:hover, .p-splitbutton.p-button-warning > .p-button:hover{
    background: rgb(240,240,240);
    border-color:rgb(232,232,232);
    opacity: 0.9;
  }

  .p-calendar .p-button:hover{
    background: rgb(240,240,240);
    border-color:rgb(232,232,232);
    opacity: 0.9;
  }
  .p-button.p-button-warning:enabled:hover, .p-buttonset.p-button-warning > .p-button:enabled:hover, .p-splitbutton.p-button-warning > .p-button:enabled:hover{ background: #f0f0f0;
    
    background: rgb(240,240,240);
    border-color:rgb(232,232,232);
    opacity: 0.9;
}

  .p-component{  
    border-color:rgb(232,232,232);
  }
  .p-dropdown{
    border-radius: 10px;
  }
  .p-inputgroup .p-inputtext{ 
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  .p-inputgroup .p-button{ 
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  .p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child, .p-inputgroup > .p-inputwrapper:last-child, .p-inputgroup > .p-inputwrapper:last-child > .p-inputtext {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
  
  .p-inputgroup .pi{
    color: rgb(171,171,171);
  }
  .p-paginator{
    position: absolute;
    width: 100%;
    background: transparent;
    border: none;
    margin: 40px 0 50px 0;
  }
  
  .w-form{
    width: calc(100vw - 0px);
  }

  .w-table{
    width: calc(100vw - 60px);
  }


  .p-datatable-scrollable .p-datatable-wrapper, .p-card{
      border-radius: 10px;
  }

  .p-datatable-wrapper table tr:first-child th{
    border-top: none;
  }
  
  .p-datatable-wrapper table tr th:first-child{
    border-left: none;
  }
  .p-datatable-wrapper table tr td:first-child{
    border-left: none;
  }
  .p-datatable-wrapper table tr th:last-child{
    border-right: none;
  }
  .p-datatable-wrapper table tr td:last-child{
    border-right: none;
  }

  .p-datatable-wrapper table tr:last-child td{
    border-bottom: none;
  }

  .p-datatable-wrapper tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }

    .p-datatable-wrapper tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .p-datatable-wrapper tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .p-datatable-wrapper tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

.p-panel .p-panel-header{
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.p-panel .p-panel-content{  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.p-datatable-wrapper{
    border-radius: 10px;
    border: 1px solid rgb(232,232,232);
}

.p-datatable{
  margin-bottom: 0 !important;
}

.dashboard .p-pie canvas{
  height: 118px !important;
  width: 237px !important;
}
.dashboard .p-panel .p-panel-content {
  padding-bottom: 18px !important;
}
label{
    font-weight: 600;
    color: rgb(55,55,55);
    line-height: 30px;
  }

  .layout-topbar .layout-topbar-icons button span.layout-topbar-icon {
    font-size: 1em;
  }

  .layout-topbar .layout-topbar-icons .layout-topbar-search .layout-topbar-search-icon {
    font-size: 14px;
    top: 2px;
  }

  table a{
      /*text-decoration: underline;*/
  }

  .dark-btn{
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    font-weight: 500;
    color: #ffffff;
  }    
  .dark-btn:hover{
    background-color: rgba(48, 48, 48, 0.9) !important;
    border-color: rgba(48, 48, 48, 0.9) !important;
  }  
  .green-btn{
    border-radius: 10px;
    background-color: rgb(58, 170, 53);
    font-weight: 500;
    color: #ffffff;
  }    
  .green-btn:hover{
    background-color: rgba(58, 170, 53, 0.9) !important;
    border-color: rgba(58, 170, 53, 0.9) !important;
  }   
  .orange-btn{
    border-radius: 10px;
    background-color: rgb(243, 145, 0);
    font-weight: 500;
    color: #ffffff;
  }    
  .orange-btn:hover{
    background-color: rgba(243, 145, 0, 0.9) !important;
    border-color: rgba(243, 145, 0, 0.9) !important;
  }  
  .white-btn{
    border-radius: 10px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    background-color: #ffffff;
  }    
  .white-btn:hover{
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-color: rgba(255, 255, 255, 0.9) !important;
    color: rgb(48, 48, 48) !important;
  }  

  .p-dropdown-trigger{
    color: #ababab !important;
    border-left: 1px solid rgb(232,232,232) !important;   
    background: rgb(240,240,240) !important;
  }
  .p-dropdown-trigger:hover{    
    opacity: 0.9;
  }
  .align-right{
      text-align: right;
  }
  .p-rating .p-rating-icon.pi-star {
    color: #3aaa35;
}
.p-rating .p-rating-icon.pi-star:hover {
    color: #3aaa35 !important;
}
.p-button{
    border-radius: 10px;
}
.p-button-sm{
    height: 32px;
}

.p-button-md{
    height: 37px;
}

.p-button-lg{
    height: 45px;
    font-size: 16px !important;
}

.align-left{
    text-align: left;
}

.p-dialog-footer{
    text-align: left;
}

.uppercase{    
    text-transform: uppercase;
}

.p-dialog-header{
    background: rgb(240,240,240) !important;
}

.p-dialog-header{
    background: rgb(240,240,240) !important;
}

.p-dialog-header h3{
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.m-dialog{
    max-width: 620px;
}
.p-sidebar.login{
    height: 100vh !important;
    background-color: rgb(48, 48, 48);
    background: url(https://android.app.quiktrak.eu/__prestart/resources/images/bg.png) no-repeat top;
    background-size: cover;
    height: 100%!important;
}

.p-sidebar.login .p-sidebar-close{
    display: none;
}
.text-color-white{
    color: #ffffff;
}
.logo_big{  
    width: 320px !important;
    margin: 0 25px 0 5px !important;
  }
.login-form{
    max-width: 470px;
    margin: 24px auto;
    padding-top: 20px;
}
.login-form .p-inputtext{
    border: 0px solid #CCCCCC;
    border-radius: 10px;
    /* color: #000 !important; */
    padding-left: 16px;
    padding-right: 40px;
    height: 45px;
    transition: all .3s;
    background-color: #fff;
    background-color: rgba(255,255,255,1);
}
.login-form .p-button{
    border: none !important;
}

.account-dropdown{
  margin:-13px 0 0 0;
}
.account-dropdown:hover{
  color: #ffffff !important;
}

.customer-badge{
  height: 25px;
  border-radius: 5px;
  padding: .30em 1rem;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .3px;
  text-align: center;
}
.status-Received{
  background: #ffcdd2;
  color: #c63737;
}
.status-Viewed{
  background: #b3e5fc;
  color: #23547b;
}
.status-Submitted{
  background: #ffd8b2;
  color: #805b36;
}
.status-Delivered{
  background: #c8e6c9;
color: #256029;
}
.read-no{
  font-weight: 600;
}

.chat-table td{
  overflow: hidden;
  cursor: pointer;
}
.p-toolbar-group-left, .p-toolbar-group-right{
  width: 100%;
}
.messages{
  height: 45vh;
}
.p-toolbar-group-left{
  height: 100%;
}

.message .message-bubble{
  border: 1px solid #e3e3e3;
}
.message-sent .message-bubble{
  border: none;
}
.sms-page .p-toolbar{
  background: #ffffff;
}

.dialog-chat-card{
  position: absolute;
  width: calc(100% - 43px);
  height: calc(100vh - 193px);
  bottom: 0px;
}

.dialog-chat-input-block{
  background-color: #ffffff;
  z-index: 10;
  width: calc(100% - 25px);
  display:block;
  position: absolute;
  bottom: 2px;
}

.p-inputtext{
  height: 45px;
  padding: 1px 5px 5px 12px;
}

.p-dropdown-label{
  height: 43px;
  padding: 10px 5px 5px 12px !important;
}
//
.p-paginator .p-dropdown-label{
  padding: 5px 5px 5px 12px !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: rgb(240,240,240);
  border-color: rgb(232,232,232);
}
.p-splitbutton{
  width: 120px;
  height: 30px;
  font-weight: 500 !important;
}
.p-splitbutton .p-button{
  height: 30px;
}

.p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child, .p-inputgroup > .p-inputwrapper:last-child, .p-inputgroup > .p-inputwrapper:last-child > .p-inputtext {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.p-menuitem-link{
  border-radius: 0px !important;
}

.p-button{
  height: 45px;
  padding: 4px 5px 5px 5px;
  font-weight: 650;
}

.login-form .p-inputtext{
  padding: 5px 15px 5px 15px;
}

.layout-topbar .layout-topbar-icons button  {
  background: none !important;
  border-radius: 0px;
  border: none !important;
  box-shadow: none !important;
  height: 50px;  
}
.layout-topbar .layout-topbar-icons button:hover  {
  color: #ffffff !important;
}

.layout-topbar .layout-topbar-icons {
  height: 50px;
  margin-top: -15px;
}


.profile-page #fileInput {
  display: none;
}
.p-toast {
  z-index: 10000 !important;
}

.bg-color-green{
  background-color: rgb(58,170,53);
}

.bg-color-orange{
  background-color: rgb(242,145,0);
}

.bg-color-red{
  background-color: rgb(227,15,19);
}

.dashboard .bg-color-red .count{
  color: rgb(227,15,19);
}

.dashboard .bg-color-orange .count{
  color: rgb(242,145,0);
}

.dashboard .bg-color-green .count{
  color: rgb(58,170,53);
}

.dashboard .card{
  border-radius: 10px;
}

.dashboard .count{
  border-radius: 10px !important;
  background-color: #fff !important;
  padding: 5px auto !important;
}
.dashboard .card .title {
  color: #fff;
}
.dashboard .card .detail {
  color: #fff;
}

.p-panel .p-panel-header{
  border-bottom: 0px;
  background-color: #ffffff;
}
div.square {
  border-radius: 2px;
  width: 14px;
  height: 14px;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  height: 52px;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  height: 50px;
}

.p-calendar .p-inputtext {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media (max-width:575px){
  .dialog-chat-card{
    height: calc(100vh - 273px);
  }
}

  @media (max-width:991px){
    .p-tabmenu{
        display: none;
    }
    .logo{
        margin: 0;
    }
      .wl-100{
        width: 100%;
      }
  }
  
  @media (min-width:992px){
    .wl-100{
      max-width: 200px;
    }
}